<div class="admin-container">
  <div class="carrito-header">
    <img src="assets/img/Logo.png" alt="Logotipo NexusTech">
    <h1>ADMINISTRACIÓN</h1>
  </div>

  <div class="admin-secciones">

    <div class="card" routerLink="/Gestion-de-usuarios">
      <h3>Gestión de Usuarios</h3>
      <p>Visualiza, edita o elimina cuentas de usuarios registrados.</p>
    </div>

    <div class="card" routerLink="/newProduct">
      <h3>Añadir Productos</h3>
      <p>Agrega nuevos productos para la compra del usuario.</p>
    </div>

    <div class="card" routerLink="/Pedidos">
      <h3>Pedidos</h3>
      <p>Consulta y gestiona pedidos realizados por los clientes.</p>
    </div>

  </div>
</div>