<div class="footer">
    <div class="footer-content">
        <div class="izquierda">
            <div class="rss">
                <b><p>INFORMACIÓN</p></b>
                <p>Sobre Nosotros</p>
                <p>Contacto</p>
            </div>
        </div>
        <div class="centro">
            <b><p>TU CUENTA</p></b>
            <p>Iniciar Sesión</p>
            <p>Registrarse</p>
        </div>
        <div class="derecha">
            <b><p>DATOS DE INTERÉS</p></b>
            <p>Ley de accesibilidad</p>
            <p>Términos y condiciones</p>
            <p>Política de privacidad</p>
        </div>
    </div>
    <b><p class="copi">Copyright © NexusTech 2025. All rights reserved.</p></b>
</div>
